DATABASE_URL="postgresql://user:password@localhost:5432/nexusops"

JWT_ACCESS_SECRET="change-me-to-a-random-string-min-32-chars"
JWT_REFRESH_SECRET="change-me-to-another-random-string-min-32-chars"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"

NEXT_PUBLIC_API_URL="http://localhost:3001"

NODE_ENV="development"
PORT=3001
FRONTEND_URL="http://localhost:3000"
